@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata-Bold.ttf');
}
@font-face {
    font-family: 'Inconsolata-Medium';
    src: url('fonts/Inconsolata-Medium.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
}
*{
    margin: 0px;
}
:root {
    --medium-font: 'Inconsolata-Medium';
    --regular-font: 'Inconsolata-Regular';
}

body{
    font-family: 'Inconsolata';
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main{
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.container{
    height: auto;
    width: 100%;
    background-image: url('images/background-desktop.png');
    box-sizing: border-box;
    background-size: contain;
}
.background-desktop-image{
    height: 120vh;
    width: 100%;
}
.pattern-circle-image{
    box-sizing: border-box;
    position: absolute;
    /* height: 20%; */
    margin-top: -100px;
    padding-left: 94px;
}
.pattern-circle-image2{
    box-sizing: border-box;
    position: absolute;
    right: 300px;
    top: 400px;
    height: auto;
    width: auto;
}
.pattern-lines-image{
    background-image: url('images/pattern-lines.svg');
    position: absolute;
    height: 100%;
    width: 100vw;
    background-repeat: repeat;
    overflow: hidden;
}
.pattern-squiggly-line-top{
    position: absolute;
    background-image: url('images/pattern-squiggly-line-top.svg');
    height: 100%;
    width: 100%;
    margin-top: -150px;
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.pattern-squiggly-line-bottom-desktop{
    box-sizing: border-box;
    position: absolute;
    background-size: contain;
    bottom: 00px;
    left: 0px;
    overflow: hidden;
    height: 40%;
    width: 60%;
}
.form{
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    /* border: 2px solid black; */
    width: 40%;
    color: white;
    height: 100%;
    font-family: var(--regular-font);
}
#logo{
    box-sizing: border-box;
    margin-bottom: 50px;
}
#heading{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    
}
#sub-heading{
    /* font-family: var(--medium-font); */
    font-family: var(--regular-font);
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 100;
    opacity: 0.5;
    line-height: 1.3;
}
#username_ticket{
    display: inline;
    color: orangered;
}
#useremail_ticket{
    display: inline;
    color: orange;
}
.ticket{
    height:  18%;
    width:  21%;
    position: absolute;
    /* border: 1px solid rgb(178, 172, 172); */
    color: white;
    display:  grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#ticket_image{
        /* display: none; */
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        /* border: 1px solid white; */
        box-sizing: border-box;
}
#logo_date{
    font-family: var(--regular-font);
    box-sizing: border-box;
    /* border: 1px solid white; */
    grid-column: 1/1;
    grid-row: 1/1;
    padding-left: 0px;
    padding-top: 5px;
    width: 175px;
    margin: 5px;
    margin-left: -10px;
    /* padding-left: -10px; */
}
#logo_date img{
    width: 100%;
    height: 50%;
}

#date_ticket{
    font-size: 9px;
    opacity: 0.5;
    margin-left: 43px;
}

#user_image_box{
    display: flex;
    /* border: 1px solid white; */
    grid-column: 1/1;
    margin-top: 40px;
    /* height: inherit; */
    margin-left: 5px;
}
#user_image1{
    width: auto;
    height: 30%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

/**/
#name{
    box-sizing: border-box;
    font-family: var(--regular-font);
    font-size: 14px;
    margin-top: 10px;
    
}
#github_image{
    width: 10%;
    height: 20%;
    display: inline;
    padding-right: 5px;

}
#github-username{
    margin-left: -5px;
    display: inline;
    font-size: 10px;
    opacity: 0.5;
}
#git_name_image{
    box-sizing: border-box;
    margin-top: 3px;
}
#user_info_ticket{
    box-sizing: border-box;
    margin-top: 4px;
    display: flex;
}

/* #user_info_ticket p{
    font-family: var(--regular-font);
    font-size: 10px;
    opacity: 0.5;
} */

#ticket_id{
    /* display: none; */
    /* border: 2px solid white; */
    grid-column: 2/2;
    /* i dont know why by 1/2 is not working in row */
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#ticket_id p{
    transform: rotate(90deg);
    box-sizing: border-box;
    margin-top: -100px;
    opacity: 0.2;
    color: white;
}

